.contenedorPortafolio{
    width: 1300px;
    height:1200px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,170px);
    justify-content: center;
    margin-top: 60px;
    div{
        img{
            width: 400px;
            height: 470px;
            border-radius: 20px;
        }
    }
    .foto1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        justify-self: center;
        align-self: center;
    }
    .foto2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        justify-self: center;
        align-self: center;
    }
    .foto3{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
        justify-self: center;
        align-self: center;
    }
    .foto4{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 7;
        justify-self: center;
        align-self: center;
    }
    .foto5{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 7;
        justify-self: center;
        align-self: center;
    }
    .foto6{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 7;
        justify-self: center;
        align-self: center;
    }
}