.boton{
    background-color: #EFBD73;
    color: #585554;
    border-radius: 2.375rem;
    width: 14.5rem;
    height: 4.0625rem;
}
.botonMarron{
    background-color: rgb(84, 18, 18);
    height: 35px;
    width: 120px;
    border-radius: 20px;
    margin-left: 90px;
    margin-top: 60px;
}
.botonNuevo{
    height: 40px;
    padding: 10px;
    background-color: #3a2e29;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
}